# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

#images
# Ignore all image files in any directory
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp


llava-v1.6-vicuna-7b/
playground/data/LLaVA-Pretrain/
venv/
